<<<<<<< Updated upstream
body {
  display: flex;
  justify-content: left;
  align-items: flex-start; 
  height: 100vh; 

}
=======

>>>>>>> Stashed changes

.faq {
  margin-bottom: 20px;
  width: 400px;
  font-size: 20px;
  position: center;
}

.container {
  position: center;
}

.question {
  cursor: pointer;
  background-color: #000;
  border: 1px solid black;
  padding: 10px;
  padding-right: 10px;
  width: 500px;
  font-size: 20px;
  color:white;
  position: relative;
}

.answer {
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  font-size: 18px;
  position: relative;
  top: 100%;
  left: 0;
  width: 500px;
  display: none;
}

.answer.open {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.arrow-up {
  transform: translateY(-50%) rotate(-135deg);
}

.arrow-down {
  transform: translateY(-50%) rotate(45deg);
}
