.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    font-family: 'Brygada 1918', serif;
    font-size: 18px;
    gap: 20px; 
}

.navbar.leftSide{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
}

.navbar .center {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.rightSide{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.navbar a:hover {
  color: #CCCCFF;
  /* box-sizing: border-box;
  padding: 26px;
  font-size: 35px;
  border: 1px black;
  transition: background-color 0.5s ease-out, color 0.5s ease-out; */
}


.navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
  
.navbar .rightSide svg {
    font-size: 40px;
}

@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
}
  
@media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
}
.button{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #CCCCFF; /* Text color */
    border: 2px solid #CCCCFF; /* Button border color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    background-color: black;
}